@import "tailwindcss";
@import "uniwind";

@import "tw-animate-css"; 

@theme {
  --radius: 10px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing-hairline: hairlineWidth();
  --font-sans: 'Inter_400Regular';
  --font-serif: 'Rye_400Regular';
}

@layer theme {
  :root {
    @variant light {
      --color-background: #E8DCC4;
      --color-foreground: #3A3A3C;
      --color-card: #E8DCC4;
      --color-card-foreground: #3A3A3C;
      --color-popover: #E8DCC4;
      --color-popover-foreground: #3A3A3C;
      --color-primary: #6C391A;
      --color-primary-foreground: #E8DCC4;
      --color-secondary: #0D0D0D;
      --color-secondary-foreground: #E8DCC4;
      --color-muted: #d5c8b0;
      --color-muted-foreground: #6b7280;
      --color-accent: #6C391A;
      --color-accent-foreground: #E8DCC4;
      --color-destructive: #DC2626;
      --color-border: #3A3A3C;
      --color-input: #3A3A3C;
      --color-ring: #6C391A;
    }

    @variant dark {
      --color-background: #0D0D0D;
      --color-foreground: #E8DCC4;
      --color-card: #0D0D0D;
      --color-card-foreground: #E8DCC4;
      --color-popover: #0D0D0D;
      --color-popover-foreground: #E8DCC4;
      --color-primary: #6C391A;
      --color-primary-foreground: #E8DCC4;
      --color-secondary: #3A3A3C;
      --color-secondary-foreground: #E8DCC4;
      --color-muted: #1f1f1f;
      --color-muted-foreground: #9ca3af;
      --color-accent: #6C391A;
      --color-accent-foreground: #E8DCC4;
      --color-destructive: #DC2626;
      --color-border: #3A3A3C;
      --color-input: #3A3A3C;
      --color-ring: #6C391A;
    }
  }
}

